.gamer-item {
  --border-color: #3498db; /* Color del borde del ion-item */
  --placeholder-color: #ffffff80; /* Color del texto de marcador de posición */
  --background: #1f1f1f; /* Color de fondo del ion-item */

  border-bottom: 2px solid var(--border-color); /* Añade un borde inferior */
}

.gamer-item ion-input {
  --color: #fff; /* Color del texto del ion-input */
  --placeholder-color: var(--placeholder-color); /* Color del texto de marcador de posición */

  font-family: 'Press Start 2P', cursive; /* Fuente estilo retro/gamer */
  background-color: var(--background); /* Color de fondo del ion-input */
  border-radius: 0; /* Elimina los bordes redondeados */
  border: none; /* Elimina los bordes del ion-input */
  border-bottom: 2px solid var(--border-color); /* Agrega un borde inferior */
}

.gamer-item ion-input:focus {
  --border-color: #ff00ff; /* Cambia el color del borde al enfocar el ion-input */
}