
<ion-content>
   <div class="container">
        <form [formGroup]="form">

            <img src="assets/imagen/Logo.png" style="text-align: center;">

            <app-custom-input icon="mail-outline"
            autocomplete="email"
            [control]="form.controls.email"
            type="email"
            label="Email"></app-custom-input>

            <div class="validacion" **ngIf="fomr.controls.contrasena.erros">

                <app-custom-input icon="key-outline"
                [control]="form.controls.contrasena"
                type="password"
                label="Contraseña"></app-custom-input>
            </div>

        </form>
    </div> 

</ion-content>