
<ion-content>
    
    <form [formGroup]="form">

        <app-custom-input
        [imagePath]="'assets/imagen/Logo.png'">
        </app-custom-input>
    
        <app-custom-input icon="mail-outline"
        autocomplete="email"
        [control]="form.controls.email"
        type="email"
        label="Email"></app-custom-input>

        <app-custom-input icon="key-outline"
        [control]="form.controls.contrasena"
        type="password"
        label="Contraseña"></app-custom-input>


    </form>

</ion-content>