<ion-content class="login-content">

  <div class="image-container">
    <img src="assets/imagen/Logo.png" alt="Imagen Gamer" class="gamer-image">
  </div> 
  <ion-grid class="ion-justify-content-center ion-align-items-center">
    <ion-row>
      <ion-col size-md="6" size-lg="4" size-xs="12">
        <form #loginForm="ngForm">
          <ion-list class="login-form">
            
            <ion-item lines="none">
              <ion-icon slot="start" color="primary" icon="mail-outline"></ion-icon>
              <ion-input  type="text" placeholder="Email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon slot="start" color="primary" icon="key-outline"></ion-icon>
              <ion-input type="password" placeholder="Contraseña"></ion-input>
            </ion-item>
          </ion-list>

          <div class="ion-text-center">
            <ion-button expand="block" type="submit" [disabled]="!loginForm.form.valid" class="login-button">Iniciar sesión</ion-button>
          </div>

          <div class="ion-text-center">
            <ion-button expand="block" fill="clear" class="login-link">Recuperar contraseña</ion-button>
            <ion-button expand="block" fill="clear" class="login-link">Registrarse</ion-button>
          </div>
        </form>
      </ion-col><ion-content class="ion-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Iniciar sesión</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
      
            <ion-button expand="block"  fill="clear" class="ion-margin-top">
              ¿Olvidaste tu contraseña?
            </ion-button>
      
            <ion-button expand="block" fill="clear" class="ion-margin-top">
              Registrarse
            </ion-button>
      
            <ion-button expand="block" class="ion-margin-top">
              Ingresar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-content>
      
    </ion-row>
  </ion-grid>
</ion-content>